// WordPress Generated Classes
// http://codex.wordpress.org/CSS#WordPress_Generated_Classes

// Media alignment
.alignnone {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
}

.aligncenter {
  display: block;
  margin: ($base-line-height / 2) auto;
}

.alignleft,
.alignright {
  margin-bottom: ($base-line-height / 2);
}

@media #{$medium-up}{
  // Only float if not on an extra small device
  .alignleft {
    float: left;
    margin-right: ($base-line-height / 2);
  }
  .alignright {
    float: right;
    margin-left: ($base-line-height / 2);
  }
}

// Captions
.wp-caption {
  @extend .thumbnail;
}

.wp-caption-text {
  padding: rem-calc(5) rem-calc(10);
}

// Text meant only for screen readers
.screen-reader-text {
  @extend .sr-only;
  @extend .sr-only-focusable;
}
